#posts-index img {
  width: 200px;
  height: 250px;
}

html {
  scroll-behavior: smooth;
}

#root {
  font-family: 'Monaco';
  background-image: url("./assets/fabric_1.webp");
}

#signup img {
  width: 300px;
  height: 300px;
}